/*Para quitar todos los margin de 20px y padding de 20px, he puesto que el 
body tenga un margin y que el resto de los elementos se adapten al width del body
, también he solucionado el margin-bottom de 20 px que pedias por un display flex 
para que funcione el atributo gap y un flex-direction: column; para que la 
dirección de los elementos de la página web sea como un display:block;, o mejor 
dicho, vallan para abajo*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 20px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
h2{
    color: #25354e;
}
figcaption{
    padding-left: 30px;
    color: #71a6df;
    font-weight: bold;
}
header, footer{
    padding: 20px;
    background-color: darkblue;
    color: white;
    border-radius: 8px;
}
main{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
footer{
    text-align: center;
}
footer p{
    margin: 0px;
}
/*Aqui le he puesto al nav un display flex para que los elementos se alineen de forma
horizontal y para que guncione el atributo gap, poniendolese algo de separación*/
nav{
    display: flex;
    gap: 20px;
}
/*Le pongo el color que quiero que tenga la a y le quito la decoración que trae por 
defecto*/
a{
    text-decoration: none;
    color: white;
}
section{
    padding: 10px;
    border-radius: 8px;
}
section:nth-child(2), section:nth-child(3), section:nth-child(4), section:nth-child(5){
    color: white;
}
/*Estilos de NOTICIAS*/
/*Ordeno las noticias con un grid para quitar capas extra y mejorar el rendimiento*/
#noticias{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "nadal nadal"
    "feria oro";
    gap: 20px;
}
#noticias img{
    width: 250px;
    height: 200px;
}
/*Le pongo las áreas a las noticias para que funcione el grid-templates-areas*/
article{grid-area: nadal;}
#noticias:nth-child(2){grid-area: feria;}
#noticias:nth-child(3){grid-area: oro;}

/*Estilos de NOTICIAS*/
#datosPersonales{
    background-color: #48bcdc;
}
/*Estilos de CONFIGURACION*/
#conf{
    background-color: #e0c484;
}

/*Estilos de SUGERENCIAS*/
#sugerencias{
    background-color: #709c64;
}

/*Estilos de LOGIN*/
#login{
    background-color: #d87464;
}

/*para quitarme un br en el html le pongo margen a los input, asi no están tan juntos*/
input{
    margin-bottom: 20px;
}

/*Como el submit es un input tiene el estilo de antes, es decir tiene margin-bottom,
en este caso no queremos margen asi que aqui le quito el margen*/
#submit{
    margin-bottom: 0px;
}