.comp-user{
    border: 1px solid black;
    padding: 2em;
    margin: 1em;
    width: 20em;
}
.name{
    font-weight: bold;
    color: blue;
}
.rol{
    font-style: italic;
}
h1{
    color: purple;
}