.sombra-arriba{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 1px;
    box-shadow: 0px 0px 10px 5px orange;
}
body{
    margin: 4px;
    background-color: #fdf9bc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
h3{
    color: orange;
}
ul{
    list-style: none;
    margin: 0px;
}
a{
    color: white;
    margin: 0px;
}
.box-1{
    width: 100%;
    background-color: purple;
}
span{
    color: orange;

}
.box-2{
    width: 96%;
    background-color: white;
    padding: 2%;
    padding-top: 1%;
}
.box-2 a{
    color: red;
}
.box-2 h3{
    color: purple;
    margin: 0px;
}
.box-2 div{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
h4{
    color: orange;
}