body{
     margin: 0px;
     font-family: Arial, Helvetica, sans-serif;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
}

details{
    width: fit-content;
    border: 0.5px solid rgba(0, 0, 0, 0.521);
    border-radius: 3px;
    margin: 10px;
    height: fit-content;
    transition: all 0.5s ease;
    box-shadow:  0px 0px 10px 0px black ;
   /* z-index: 3;*/
}

summary{
    z-index: 2;
    display: flex;
    list-style: none;
    width: 300px;
    height: 50px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    border-radius: 3px;
    background-color: rgb(0, 140, 255);
    color: white;
    font-size: 30px;
    text-shadow:  0px 0px 10px white;
}
section{
    z-index: 2;
    padding: 20px;
}
