@font-face {
    font-family: fuente xiaomi;
    src: url(../fonts/source-sans-pro/SourceSansPro-Regular.ttf);
}
body{
    margin: 0px;
    width: 100%;
    font-family: fuente xiaomi;
}
i{
   color: #d0d0d0; 
}
/*HEADER*/
#x{
    font-size: 20px;
}
header{
    width: 100%;
}
header > section{
    padding: .5rem;
    width: calc(100% - 1rem);
    display: flex;
    justify-content: space-between;
}
header a{
    text-decoration: none;
}
header p{
    color: white;
    height: fit-content;
    margin: 0px;
    font-size: smaller;
}
header > section:first-child{
    background-color: black;
    align-items: center;
}
header > section:nth-child(2){
    box-shadow: 0px 0px 10px -4px rgb(184, 184, 184);
    color: black;
    & i{
        color: black;
    }
}
header > section:nth-child(2)  a{
    color: black;
}
header ul{
    display: flex;
    margin: 0px;
    list-style: none;
    padding: 0px;
    align-items: center;
}
header section:nth-child(2)  ul > li{
    padding: 0rem 1rem 0rem 1rem ;
    & img{
        width: 30px;
    }
}
header section:nth-child(2) ul > li:first-child{
    padding-left: 2rem;
}
header section:nth-child(2) ul:last-child > li:last-child{
    padding-right: 2rem;
}
/*SLIDER*/
.slider{
    width: 100%;
    padding: 3rem 0px 1rem 0px;
    display: flex;

}
.botonIzqu, .slider div:last-child{
    width: 30px;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    & > img{
        width: 30px;
        height: 30px;
    }
}
.slider div:last-child {
    padding: 0rem 2rem 0rem 0rem;
}
.slider > div:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    min-width: calc(100% - 4rem - 60px);
}
.slider div:nth-child(2) div{
    display: flex;
    &:first-child{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        width: calc(40% - 2rem);
    }
    & img:nth-child(2){
        width: 60%;
    }
}
.slider div:nth-child(2) div:first-child{
    gap: 3rem;
    & div{
        width: 50%;
        display: flex;
        margin: 0px;
        padding: 0px;
        gap: .5rem;
        &:first-child{
            align-items: start;
            & h1, p{
                margin: 0px;
            }
            & h1{
                font-size: 40px;
            }
            & span{
                font-weight: bold;
                font-size: 20px;
            }
        }
        &:last-child{
            & p:last-child{
                display: flex;
                justify-content: center;
                gap: .25rem;
            }
            & img{
                height: 20px;
            }
        }
    }
    & p span{
        box-shadow: 0px 0px 0px 0px ;
    }
    & div:last-child{
        align-items: center;
        justify-content: start;
        flex-wrap: wrap;
        gap: 1rem;
        & button{
           height: fit-content; 
           padding:.25rem 3rem;
           border-radius: 10px;
           border: 0px;
           background-color: black;
           color: white;
           font-weight: bold;
        }
        & p{
            margin: 0px;
            &:first-child{
                width: 100%;
                font-size: larger;
                font-weight: bold;
            }
        }
    }
}
.price{
    font-size: larger;
    padding: 0px;
}

.slider div:nth-child(2) div:last-child{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    background-color: white;
}
.slider div:nth-child(2) div:last-child span{
    width: 7.5%;
    padding: .25rem;
    box-shadow: inset 0px 0px 10px -5px ;
    height: 0px;
    border-radius: 5px ;    
}

.slider div:nth-child(2) div:last-child span::before{
    content: "";
    position: absolute;
    top: 0px;
    background-color: orange;
    padding: 0px 0rem;
    height: .25rem;
    border-radius: 5px;
    left: 0px;
}
.slider div:nth-child(2) div:last-child span:nth-child(2){
    margin-right: calc(7.5% + 1rem);
}
.slider div:nth-child(2) div:last-child span:nth-child(3){
    position: absolute;
    width: calc(7.5% - 1rem);
    left: calc(50% + 1rem);
}
.slider div:nth-child(2) div:last-child span:nth-child(3)::before{
    animation: animacionSpan;
    animation-duration: 6s;
}
/*POPULAR*/
.Popular{
    width: calc(100% - 10rem);
    padding: 5rem 5rem 2rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    & > div{
        &:nth-child(2) {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 3rem;
            & p:first-child{
                color: orange;
                font-weight: bold;
                border-bottom: 2px solid orange;
                margin: 0px;
                padding: 1rem 0rem;
            }
        }
        &:last-child{
            --borde: 1rem solid white;
            --radius:5px;
            display: flex;
            width: calc(100% - 2rem);
            border-top: var(--borde);
            border-left: var(--borde);
            border-right: var(--borde);
            border-top-left-radius: var(--radius);
            border-top-right-radius: var(--radius);
            background-color: white;
        }
        & div{
            background-color: #fafafa;
            width: 50%;
            flex-direction: column;
            border-top-right-radius: var(--radius);
            justify-items: center;
            align-content: center;
        }
        & img{
            width: 50%;
            border-top-left-radius: var(--radius);
        }
        & h3{
            font-size: 30px;
            margin-bottom: 1rem;
        }
        & span{
            &:nth-child(2),&:last-child{
                font-weight: bold;
            }
        }
        

    }
}

/*FOOTER*/
footer{
    --colorP:#7f7f7f;
    background-color: #191919;
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 1rem;
    width: calc(100% - 2rem);
    & section{
        display: flex;
        flex-wrap: wrap;
        &:first-child{
            width: calc(100% - 400px);
            gap: 1rem;
            padding: 3rem 0rem;
            & div{
                width: calc(25% - 1rem);
                & li{
                    font-weight: bold;
                    list-style: none;
                    & a{
                        text-decoration: none;
                        color: var(--colorP);
                    }
                    & p{
                        margin: 0px;
                        font-size: larger;
                    }
                }
                & ul{
                    margin: 0px;
                    padding: 0px;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
            }
        }
        &:nth-child(2){
            width: 400px;
            padding: 3rem 0rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-weight: bold;
            & p{
                width: 100%;
                margin: 0px;
                &:first-child{
                    font-size: larger;
                }
            }
            & > div{
                width: 100%;
                border: 1px solid white;
                border-radius: 15px;
                &:nth-child(2){
                    border: 0px;
                    gap: 1.5rem;
                    display: flex;
                    & a{
                        color: rgba(255, 255, 255, 0);
                        &:first-child img{
                            --widthFacebook:calc(25px + 1rem);
                            width: var(--widthFacebook);
                            height: var(--widthFacebook);
                            padding: 0px;
                        }
                    }
                    & img{
                        & i{
                        }
                        
                    }
                }
                &:nth-child(4){
                    display: flex;
                    align-items: center;
                    padding: .5rem;
                    width: calc(100% - 1rem);
                    & input{
                        background-color: rgba(255, 255, 255, 0);
                        color: var(--colorP);
                        border: 0px;
                        width: calc(100% - 30px);
                        outline: none;
                        height: 30px;
                    }
                    & img{
                        width: 30px;
                    }
                }
                & > div{
                    display: flex;
                    width: calc(100% - 2rem);
                    padding: 1rem;
                    gap: 1rem;
                    &:first-child{
                        & div{
                            width: calc(70% - .5rem);
                            & span{
                                font-size: larger;
                            }
                            & p{
                                color: var(--colorP);
                            }
                        }
                        & img{
                            width: calc(30% - .5rem);
                            border-radius: 5px;
                        }
                    }
                    &:last-child{
                        border-top: 1px solid white;
                        justify-content: center;
                        & p{
                            width: fit-content;
                        }
                        & img{
                            height: 20px;
                        }
                    }
                }
            }
        }
        &:last-child{
            padding: 1rem 0px 0px 0px;
            border-top: 1px solid #fafafa;
            width: 100%;
            display: flex;
            justify-content: space-between;
            & div{
                display: flex;
                align-items: center;
                & a{
                    color: white;
                    text-decoration: none;
                    margin: .5rem;
                    &:nth-child(3){
                        border-right: 1px solid white;
                        border-left: 1px solid white;
                        margin: 0px;
                        padding: 0px .5rem;
                    }
                }
                & p{
                    margin: .5rem;
                }
            }
        }
    }
}
/*KEYFRAMES*/
@keyframes animacionSpan{
    from{
        padding-right: 0%;
        padding-top: .25rem;
    }
    to{
        padding-right: 100%;
        padding-top: .25rem;
    }
}