/*ESTILOS DE ETIQUETAS*/
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 100vw;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

a .img-ubicacion{
    transition: 0.3s;
}

a:hover{
    color: grey;
    transition: 0.3s;
}

a:hover .img-ubicacion{
    bottom: 0px;
    width: 38px;
    transition: 0.3s;
}
/*CAJA INFORMACION PERSONAL*/
.personal_info{
    min-width: 30%;
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    position: absolute;
    left: 35%;
    z-index: 2;
    background-color: white;
}

.personal_info header{
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    min-width: 100%;
    background: linear-gradient(to  left, #5333ed, #2cd3d9);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 1px 5px -2px black;
    text-align: center;
}

.personal_info main{
    padding: 10px;
    padding-bottom: 30px;
    min-width: 550px;

}

.img-ubicacion{
    position: relative;
    width: 35px;
    bottom: -12px;
}

.personal_info h3{
    margin-left: 35px;
}

.personal_info ul{
    margin-left: 10px;
}

.mi-cara{
    width: 200px;
    margin-left: 30px;
    border-radius: 50%;
    margin-top: 30px;
    box-shadow: 0px 0px 10px 0px black;
    border: solid grey 0.3px;
}

.enlace-lista{
    margin-top: -17px;
}

/*BURBUJAS FLOTANTES CERRADAS*/

    /*ESTUDIOS*/
.estudios{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 15%;
    top: 15%;
    transition: 0.5s;
    min-width: 80px;
    min-height: 80px;
    z-index: 1;
}

.estudios header{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 230px;
    justify-content: center;
    min-height: 230px;
    border-radius: 50%;
    background: linear-gradient(to  left, #5333ed, #2cd3d9);
    box-shadow: 0px 0px 7px 0px black;
    transition: 0.5s;
}

.estudios header:hover{
    transition: 0.5s;
    border-radius: 25%;
}

.estudios header h1{
    transition: 0.5s;
}

.estudios header:hover h1{
    text-shadow: 0px 0px 10px white;
    transition: 0.5s;
}
    /*EXPERIENCIA*/
.expeciencia{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 15%;
    bottom: 15%;
    transition: 0.5s;
    min-width: 80px;
    min-height: 80px;
    z-index: 1;
}

.expeciencia header{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 230px;
    justify-content: center;
    min-height: 230px;
    border-radius: 50%;
    background: linear-gradient(to  left, #5333ed, #2cd3d9);
    box-shadow: 0px 0px 7px 0px black;
    transition: 0.5s;
}
.expeciencia header:hover{
    transition: 0.5s;
    border-radius: 25%;
}

.expeciencia header h1{
    transition: 0.5s;
}

.expeciencia header:hover h1{
    text-shadow: 0px 0px 10px white;
    transition: 0.5s;
}
    /*TECNOLOGIAS*/
.tecnologias{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 15%;
    bottom: 40%;
    transition: 0.5s;
    min-width: 80px;
    min-height: 80px;
    display: block;
    z-index: 1;
}

.tecnologias header{
    padding: 10px;
    min-width: 230px;
    min-height: 230px;
    background: linear-gradient(to  left, #5333ed, #2cd3d9);
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    box-shadow: 0px 0px 7px 0px black;
    transition: 0.5s;
}

.tecnologias header:hover{
    border-radius: 25%;
    transition: 0.5s;
}

.tecnologias header h1{
    transition: 0.5s;
}

.tecnologias header:hover h1{
    text-shadow: 0px 0px 10px white;
    transition:  0.5s;
}

/*IMAGENES DECORATIVAS*/

.imagen-arriba-izquierda{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.imagen-abajo-derecha{
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 0;
    rotate: 180deg;
}

/*BURBUJAS FLOTANTES ABIERTAS*/

input[type=checkbox]{
    display: none;
}

#chkb-estudios:checked ~.personal_info{
    left: 10%;
    transition: 0.5s;
}
#chkb-estudios:checked ~label .tecnologias{
    transition: 0.5s;
    /*visibility: hidden;*/
}






