h1{
    color: cornflowerblue;
    text-align: center;
}
body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f3f3f3;
}
table{
    width: 100%;
    border: 2px solid rgb(100,100,100);
    border-collapse: collapse;
    text-align: center;
}
tr:first-child{
    color: cornflowerblue;
}
tr:nth-child(even){
    background-color: white;
}
th{
    background-color: rgb(29, 29, 29);
    border: 2px solid rgb(100, 100, 100);
    padding: 8px;
    color: white;
}
td{
    border: 2px solid rgb(100,100,100);
    padding: 8px;
}

.lenguaje-de-marcas{
    background-color: #7fffd4;
    color: white;
}

.programacion{
    background-color: #dbad63;
    color: white;
}

.sistemas-informaticos{
    background-color: #ca7ac2;
    color: white;
}

.bases-de-datos{
    background-color: #8f3a3a;
    color: white;
}

.entorno-desarrollo{
    background-color: #82c0d9;
    color: white;
}

.orientacion-laboral{
    background-color: #04251e;
    color: white;
}