*{
    box-sizing: border-box;
}


body{
    margin: 0%;
    background:  white;
    overflow-x: none;

}

body p{
    font-size: 25px;
    color: white;
    text-shadow: 0px 0px 5px grey;
    font-family: sans-serif;
    margin-left: 2vh;
    margin-right: 2vh;
}


header {
    background: linear-gradient(to  left, #5333ed, #2cd3d9);
    min-height: 10vh;
    align-items: center;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    box-shadow: 0px 1px 10px grey;
    position: absolute;
    width: 100%
}

header button {
    background-color: #0ee6a500;
    min-height: 10vh;
    width: 10vh;
    padding: 10px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    
    border: 0px  solid #01306e;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    margin-left: 10px;

}

header button:hover{
    transition: all 300ms;
    background-color: rgba(128, 128, 128, 0);
    min-height: 10vh;
    width: 10vh;
    padding: 10px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    border: 0px  solid #0147a3;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    box-shadow:inset 0px 0px 3px rgb(0, 0, 0);
    margin-left: 10px;
} 

.logo {
    border-radius: 5px;
    border: 0px solid rgba(128, 128, 128, 0);
    box-shadow: 0px 0px 5px grey;
    margin-right: 10px;
    height: 7vh;
}

.youtube{
    transition: all 150ms;
    align-items: center;
    height: 35px;
    border-radius: 10px;
    border: 0px solid white;
    margin-left: 10px
}

.youtube:hover{
    transform: scale(1.1);
    box-shadow: 0px 2px 5px rgb(65, 65, 65);
}

.instagram{
    align-items: center;
    height:35px;
    border-radius: 10px;
    border: 0px solid white;
    transition: all 150ms;
    margin-left: 10px
}

.instagram:hover{
    transform: scale(1.1);
    box-shadow: 0px 2px 5px rgb(65, 65, 65);
}

.linkedin{
    align-items: center;
    height: 35px;
    border-radius: 10px;
    border: 0px solid white;
    transition: all 150ms;
    margin-left: 10px
}

.linkedin:hover{
    transform: scale(1.1);
    box-shadow: 0px 2px 5px rgb(65, 65, 65);
}

.contenedor{
    margin-left: 20%;
    margin-right: 20%;
    background: rgb(206, 206, 206);
    height: 100%;
    display: flex;
    box-shadow: 0px 0px 10px rgb(170, 170, 170);
}

.contenedor p{
    margin: 60px;
}

.div_header1 button{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.div_header2{
    display: flex;
    align-items: center;
    margin-left: 5vh;
}

.div_footer{
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
}

.imagen_menu{
    height: 20px;
}

main{
    min-height: 85vh;
    max-width: 100%;
    z-index: 0;
    position: relative;
    display: flex;
}

footer{
    min-width: 100%;
    height: 20vh;
    background: linear-gradient(to  left, #5333ed, #2cd3d9);
    box-shadow: 0px -1px 10px grey;
    align-items: end;
    justify-content: center;
    display: flex;
    position: absolute;
    z-index: 2;
}

.info_barra{
    background: rgb(255, 255, 255);
    height: 100vh;
    width: 14vw;
    z-index: 1;
    box-shadow: 2px -2px 5px grey;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.img_info{
    max-width: 14vw;
    text-align: center;
    justify-content: center;
    margin-top: 15vh;
}

main .img_info img{
    z-index: 5;
    border-radius: 5px;
    max-width: 10vw;
}

.texto_info{
    max-width: 14vw;
    text-align: start;
}

.texto_info p{
    color: black;
    text-shadow: 0px 0px 0px;
    font-size: 0.7vw;
    margin-top: 1vh;
    margin-left: 2vw;
    max-width: 10vw;
}

.texto_info h2{
    color: black;
    font-family: sans-serif;
    position: relative;
    max-width: 11vw;
    margin-left: 1.5vw;
    font-size: 1vw;
}

.info{
    width: 86vw;
    min-height: 80vh;
    margin-top: 10vh;
    background:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    justify-content: center;
    display: flex;
    box-shadow: 0px 0px 1vw grey;
    width: 20vw;
    background: rgba(128, 128, 128, 0.096);
    height: 60vh;
    border-radius: 10px;
    margin-left: 5vw;
    margin-right: 5vw
}

.header_info{
    width: 86vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10vh;
    position: absolute;
    margin-left: 13vw;
    font-family: sans-serif;

}

.container_header{
    background: linear-gradient(to  left, #5333ed, #2cd3d9);
    max-width: 18.7vw;
    border-radius: 10px;
    position: absolute;
    justify-content: center;
    text-align: center;
}

.linea {
    width: 25vw;
    height: 0.1vh;
    background:grey;
    position: absolute;
    z-index: 4;
    margin-top:17vh;
    right: 0px;
    margin-right: 30.5vw;
}