body{
    background-color: rgb(160, 159, 159);
    margin: 0px;
    padding:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    width: 35vw;
    height: 25vh;
    position: absolute;
    border-radius: 5px;
    transition: 0.2s;
}
div:hover{
    box-shadow: 0px 0px 10px 0px black;
    transition: 0.2s;
}
.naranja{
    background-color: rgb(253, 205, 115);
    border: 2px solid rgb(189, 123, 0);
    min-width: 80vw;
    max-height: 5vh;
    padding: 50px;
    padding-top: 0px;
    position: inherit;
    text-align: center;
}
.naranja:hover{
    box-shadow: 0px 0px 0px 0px;
}
.amarillo{
    background-color: rgb(247, 247, 121);
    border: 2px solid rgb(189, 189, 0);
    left: 35px;
    top: 30vh;
    z-index: 0;
}
.amarillo:hover{
    z-index: 2;
   
}
.verde{
    background-color: rgb(120, 202, 120);
    border: 2px solid green;
    left: 30vw;
    top: 50vh;
    z-index: 1;
    width: 40vw;
    height: 30vh;
}
.rosa{
    background-color: rgb(216, 140, 165);
    border: 2px solid rgb(139, 88, 97);
    right: 35px;
    bottom: 5vh;
    z-index: 0;
}
.rosa:hover{
    z-index: 2;
    
}
.morao{
    background-color: rgb(219, 185, 219);
    border: 2px solid rgb(100, 73, 100);
    left: 35px;
    bottom: 5vh;
    z-index: 0;
}
.morao:hover{
    z-index: 2;
   
}
.cian{
    background-color:rgb(148, 148, 255);
    border: 2px solid rgb(2, 2, 146);
    right: 35px;
    top: 30vh;
    z-index: 0;
}
.cian:hover{
    z-index: 2;
    
}