*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header, footer{
    background-color: #4f6886;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

nav{
    float: left;
    width: 30%;
    height: 300px;
    background: #a8d4ee;
    padding: 20px;
}

nav ul{
    list-style-type: none;
    pad: 0px;
}

article{
    float: left;
    pad: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px;
}

section::after{
    content: "";
    display: table;
    clear: both;
}