<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>AÑADIR UN NUEVO USUARIO</h1>
	<form th:action="@{/usuario-form}" th:object="${usuario}" method="post">
		<!-- th:value="(${usuarioPasado} != null)?${usuarioPasdo.nombre}" -->
		<input type="text" name="nombre" th:field="*{nombre}" placeholder="nombre">
		<!-- th:value="(${usuarioPasado} != null)?${usuarioPasdo.email}" -->
		<input type="text" name="email" th:field="*{email}" placeholder="email">
		<!-- th:value="(${usuarioPasado} != null)?${usuarioPasdo.perfil.estado}" -->
		<input type="text" name="estado"  th:field="*{perfil.estado}" placeholder="estado">
		<!-- th:value="(${usuarioPasado} != null)?${usuarioPasdo.perfil.bio}" -->
		<textarea rows="" cols="" name="biografia"  th:field="*{perfil.bio}" placeholder="biografia"></textarea>
		<input th:if="${usuario.id == null}" type="submit" value="AÑADIR">
	</form>
	<a th:href="@{/}">volver</a>
</body>
</html>