@use "estilosBasicos.css";

body{
    display: grid;
    grid-template-columns: 1fr minmax(420px, 7fr) 2fr;
    grid-template-rows: 7vh calc(28vh - 2rem) calc(35vh - 2rem) calc(23vh - 2rem) 7vh;
    grid-template-areas: 
    "header header uno"
    "nav proyectos uno"
    "nav proyectos experiencia"
    "dos proyectos experiencia"
    "dos footer footer";
}
.proyectos{
    grid-area: proyectos;
} /**/
.conteinerProyectos{
    margin-top: 0.5rem;
    height: calc(100% - 36px - 0.5rem);
    width: calc(100%);
    border-radius: 17px;
    overflow-x: auto;
    display: flex;
    gap: 1rem;
}
.tarjetasP{
    height: 100%;
    width: 380px;
    min-width: 380px;
    background-color: rgb(78, 78, 78);
    border-radius: 17px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    overflow: hidden;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px rgb(29, 29, 29);
}
.tarjetasP div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: calc(380px - 2rem);
    height: calc(100% - 2rem);
    background-color: var(--colorFondoHijoBoton);
    border-radius: 17px;
}
.tarjetasP div:nth-child(2){
    background-color: rgb(78, 78, 78);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% calc(35% - 2rem) 50%;
    gap: 1rem;
}
.tarjetasP div:nth-child(2) img{
    height: 100%;
}
.tarjetasP div:nth-child(2) div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
    gap: 1fr;
}
.experiencia{
    grid-area: experiencia;
}
.containerTarjetasE{
    margin-top: 1rem;
    height: calc(100% - 36px - 1rem);
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: scroll;
    scrollbar-width: none;
}
.tarjetasE{
    background-color: rgb(78, 78, 78);
    padding: 1rem;
    border-radius: 17px;
    height: min-content;
    text-align: start;
}
.tarjetasE h4{
    margin: 0px;
}
.tarjetasE div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: min-content;
}
.tarjetasE div div{
    padding:  0.15rem 1rem 0.15rem 1rem;
    width: 25%;
    height: 0px;
    background-color: var(--colorFondoHijoBoton);
}
nav button:nth-child(4){
    background-color: var(--colorFondoHijoBoton); 
    box-shadow: inset 0px 0px 5px 0px black;
}
.decoracion:nth-child(-n+2){
    background-color: var(--colorDecoracion);
}
.decoracion:nth-child(1){grid-area: uno;}
.decoracion:nth-child(2){grid-area: dos;}
img{
    width: 100%;
}
h4{
    color: var(--colorH3);
    font-size: larger;
}
p{
    color: var(--textColorPersonal);
    font-size: 1em;
    margin: 0px;
}
span{
    font-size: 1em;
}

@media (width < 980px){
    body{
        grid-template-rows: 7vh calc(20vh - 2rem) calc(15vh - 2rem) calc(28vh - 2rem) calc(35vh - 2rem) calc(15vh - 2rem) calc(23vh - 2rem) 7vh;
        grid-template-areas: 
    "header header header"
    "nav nav nav"
    "dos dos dos"
    "proyectos proyectos proyectos"
    "proyectos proyectos proyectos"
    "uno uno uno"
    "experiencia experiencia experiencia"
    "footer footer footer";
    }
    nav{
        flex-direction: row;
        word-break: break-all;
    }
    nav button{
        height: 100%;
    }
}