@font-face {
    font-family: sugar-pie;
    src: url(../Fonts/Sugar-Pie-W00-Regular.ttf);
}
/*CUERPO*/
body{ 
    /*Formateo de la página*/
    width: 100%; 
    margin: 0px; 
    /*color de fondo*/
    background-color: #61b9ad;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    overflow-x: hidden;
    & header{
        padding: 1rem;
        position: fixed;
        top: 0px;
        left: 0px;
        width: calc(100% - 2rem);
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & nav{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            & .menu-movil{
                display: none;
            }
            & .boton{
                background-color: white;
                color: white;
                border: .75rem solid #5d302d;
                border-radius: 15px;
                font-family: sugar-pie;
                font-size: 20px;
                transition: .3s;
                width: 100px;
                height: 100px;
                display: flex;
                align-items: center;
                text-align: center;
                & a{
                    width: 100%;
                }
                & img{
                    width: 100%;
                    height: auto;
                }
                &:hover{
                    scale: 1.1;
                    cursor: pointer;
                }
            }
            & .menu{
                display: flex;
                background-color: #5d302d;
                border-radius: 15px;
            }
            &::after{
                content: "";
                display: block;
                width: 80px;
            }
        }
    }
    & main{
        & > div{
            display: flex;
            flex-direction: column;
            gap: 6rem;
            margin-top: 1rem;
            
        }
    }
    /*PIE*/
    & footer{
        width: calc(100% - 2rem);
        height: 15vh;
        padding: 1rem;
        background-color: #5d302d;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "contacto redes-sociales subir";
        color: white;
        & .contacto{
            grid-area: contacto;
            & a{
                text-decoration: none;
                color: white;
            }
        }
        & .redes-sociales{
            grid-area: redes-sociales;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            & div{
                display: flex;
                justify-content: center;
                gap: 1rem;
                width: 100%;
                & a{
                    transition: .3s;
                    border-radius: 100px;
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: visible;
                    max-height: 50px;
                    max-width: 50px;
                    & svg{
                        min-width: 55px;
                    }
                    &:hover{
                        scale: 1.3;
                    }
                }
            }
            & p{
                height: fit-content;
            }
        }
        & .subir { 
            display: flex;
            justify-content: end;
            padding: 1rem;
            & button{
                border: 0px;
                grid-area: subir;
                background-color: white;
                width: 50px;
                height: 50px;
                clip-path: polygon(50% 0%, 50% 0%, 100% 100%, 0 100%);
                transition: .3s;
                &:hover{
                    scale: 1.3;
                    cursor: pointer;
                }
            }
        }
        
    }
}
.click-menu-movil{
    padding: 1rem;
    width: calc(100% - 2rem);
    display:none;
    flex-wrap: wrap;
    background-color: #61b9ad;
    border-bottom: 1rem solid #5d302d;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    & div{
        border: 0px;
        background-color: white;
        border: .5rem solid #5d302d;
        color: white;
        border-radius: 15px;
        padding: 1rem;
        margin: .5rem;
        font-family: sugar-pie;
        font-size: 20px;
        transition: .3s;
        & a{
            text-decoration: none;
            color: #5d302d;;
        }
        &:hover{
            scale: 1.05;
            cursor: pointer;
            box-shadow: inset 0px 0px 10px #5d302d;
        }
    }
}
/*IMAGEN DE INICIO*/
.imagen-inicio{
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(0% 0, 100% 0%, 100% 85%, 0 100%);
    justify-content: center;
    background-image: url(../Imagenes/imagen-fachada-bariloche.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    color: white;
    & h1, & h2{
        font-family: sugar-pie;
        font-weight: 400;
        padding: 0rem 2rem;
        margin: 0px;
        font-size: 120px;
        background: grey;
        mix-blend-mode:luminosity ;
    }
    & h2{
        font-size: 40px;
        padding-bottom: .5rem;
        color: #5d302d;
    }
    & img{
        width: 100%;
        height: auto;
        filter: brightness(60%);
    }
}
/*ESTILOS CARRUSEL DE FOTOS*/
.carrusel{
    border-top: 1rem solid #5d302d;
    border-bottom: 1rem solid #5d302d;
    min-width: 110vw;
    height: 150px;
    display: flex;
    gap: 1rem;
    background-color: #e9aec4;
    padding: 1rem;
    rotate: 4.64deg;
    box-shadow: inset 0px 0px 15px -5px;
    & .carrousel-list{
        display: flex;
        width: 100%;
        min-width: calc(300px * 9);
        & .item{
            width: 300px;
            height: 150px;
            position: absolute;
            left: 100%;
            animation: autoRun 15s linear infinite;
            animation-delay: calc((15s / 9) * (var(--position) - 1))!important;
            & img{
                height: 150px;
            }
        }
    }
    &[reverse="true"]{
        & .item{
            animation: reversePlay 15s linear infinite;
        }
    }
}
/*ANIMACINOES DEL CARRUSEL*/
@keyframes autoRun {
    from{
        left: 100%;
    }to{
        left: calc(300px * -1);
    }
}
/*ANIMACIONES DEL CARRUSEL*/
@keyframes reversePlay {
    from{
        left: calc(300px * -1);
    }to{
        left: 100%;
    }
}
/*ESTILOS DEL CARRUSEL (INLCINADO)*/
.instalaciones, .desayunos-meriendas{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    & h2{
        color: #e9aec4;
        -webkit-text-stroke-width: .25rem;
        -webkit-text-stroke-color: #5d302d;
        text-shadow: 0px 0px 10px #5d302d;
        margin: 0px 6rem;
        font-family: sugar-pie;
        font-weight: 400;
        font-size: 50px;
    }
    & > div{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
.instalaciones{
    align-items: end;
}
.desayunos-meriendas{
    & .carrusel{
        rotate:-4.64deg;

    }
}
/*ESTILOS DEL BENTO DE LAS TARTAS*/
.tartas{
    margin-top:7rem;
    margin-bottom: 2rem;
    width: 80%;
    padding: 0% 10%;
    display: grid;
    min-height: 110vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    & > div{
        background-color: white;
        border-radius: 30px;
        border: 1rem solid #5d302d;
        background-color: #e9aec4;
        color: #5d302d;
        box-shadow: inset 0px 0px 10px #5d302d;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        & .info-tarta{
            width: calc(100% - 3rem);
            height: calc(100% - 2rem);
            padding: 1rem;
            border-left: 1rem solid #5d302d;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            & > div{
                & h1{
                    font-family: sugar-pie;
                    font-size: 50px;
                    margin: 0px;
                }
                & p{
                    margin: 0px;
                    font-size: 25px;
                }
            }
            & span{
                padding: .75rem .5rem;
                font-weight: bold;
                font-size: 20px;
                zoom: 1.5;
                width: fit-content;
                border: .25rem solid #5d302d;
                background-color: #61b9ad;
                border-radius: 100px;
            }
        }
        & .img-tarta{
            box-shadow: inset 0px 0px 5px #5d302d;
        }
        /*POSICIONES DE LOS CONTENEDORES EN EL BENTO*/
        &:nth-child(1){
            grid-column: 2/3;
            grid-row: 2/3;
            display: flex;
            align-items: center;
            text-align: center;
            & h1{
                font-family: sugar-pie;
                font-size:70px;
                text-shadow: 0px 0px 5px #5d302d;
            }
        }
        &:nth-child(2), &:nth-child(3){
            grid-column: 1/2;
            grid-row: 2/-1;
            grid-template-columns:1fr ;
            grid-template-rows: repeat(2,1fr);
            & .img-tarta{
                background-image: url(../Imagenes/tarta\ queso.jpg);
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }
            & .info-tarta{
                border: 0px;
                border-top: 1rem solid #5d302d;
                width: calc(100% - 2rem);
                height: calc(100% - 3rem);
            }
        }
        &:nth-child(3){
            grid-column: 3/-1;
            grid-row: 1/3;
            & .img-tarta{
                background-image: url(../Imagenes/tarta\ red\ velvet.webp);
            }
        }
        &:nth-child(4), &:nth-child(5){
            grid-column: 1/3;
            grid-row: 1/2;
            & .img-tarta{
                background-image: url(../Imagenes/tarta\ abuela.webp);
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
            }
        }
        &:nth-child(5){
            grid-column: 2/-1;
            grid-row: 3/-1;
            & .img-tarta{
                background-image: url(../Imagenes/tarta\ muerte\ por\ chocolate.jpg);
            }
        }
        & .img-tarta{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
/*ESTILOS DE LA PARTE DE LAS RESEÑAS Y LA UBICACION*/
.ubi-reseñas{
    padding: 2rem;
    width: calc(100% - 4rem);
    background-color: #e9aec4;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    & iframe{
        width: 100%;
        border-radius: 15px;
        box-shadow: 0px 0px 10px -5px;
        height: 100%;
    }
    & > div{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
        & > h3{
            margin: 0px;
            padding: .5rem 3rem;
            background-color: white;
            box-shadow:  0px 0px 10px -5px;
            border-radius: 15px;
            width: fit-content;
        }
        & > div{
            width: 80%;
            height: 80%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 2rem;
            & .resena{
                display: flex;
                gap: 2rem;
                padding: 0rem 1rem;
                background-color: white;
                border-radius: 100px;
                box-shadow: 0px 0px 10px -5px;
                align-items: center;
                & > div{
                    display: block;
                }
                & img{
                    width: 75px;
                    height: 75px;
                    border-radius: 100px;
                }
                &:nth-child(1){
                    grid-column: 1 / 3;
                    grid-row: 1/2;
                }
                &:nth-child(2){
                    grid-column: 2 / -1;
                    grid-row: 2/3;
                }
                &:nth-child(3){
                    grid-column: 1 / 3;
                    grid-row: 3/-1;
                }
            }
        }
    }
}

.privacidad{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.306);
    & > div{
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: calc(100% - 2rem);
        padding: 1rem;
        background-color: #e9aec4;
        display: flex;
        flex-direction: column;
        align-items: center;
        & button{
            padding: 1rem 4rem;
            border-radius: 100px;
            border: .25rem solid #5d302d;
            background-color: #5d302d92;
            color: white;
            font-size: large;
            font-weight: bold;
            transition: .3s;
            &:hover{
                scale: 1.2;
                cursor: pointer;
            }
        }
    }
}


@media (width < 1380px){
    .ubi-reseñas{
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1fr;
        & iframe{
            min-height: 50vh;
        }
    }
    .tartas{
        display: flex;
        flex-direction: column!important;
        grid-column: 1/2;
        grid-row: 2/-1;
        grid-template-columns:1fr ;
        grid-template-rows: repeat(2,1fr);
        & > div{
            &:first-child{
                justify-content: center;
            }
            &{
                grid-template-columns:1fr ;
                grid-template-rows: repeat(2,1fr);
                & .info-tarta{
                    border: 0px;
                    border-top: 1rem solid #5d302d;
                    width: calc(100% - 2rem);
                    height: calc(100% - 3rem);
                    border-left: 0px;
                }
            }
        }
    }
    .ubi-reseñas{
        & > div{
            & > div{
                & .resena{
                    height: fit-content;
                    padding: 1rem;
                    & h4{
                        margin-top: 0px;
                    }
                    & p{
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}

@media (width < 900px){
    header{
        & nav{
            &::after{
                display: none !important;
            }
        }
    }
    body{
        & footer{
            height: auto;
            gap: 1rem;
            grid-template-areas: 
            "contacto subir" 
            "redes-sociales redes-sociales";
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            & .subir{
                justify-content: center;
            }
            & .redes-sociales{
                gap: 1rem;
            }
        }
    }
    .menu{
        display: none !important;
    }
    .menu-movil{
        display: flex !important;
    }
    .imagen-inicio{
        & h1{
            font-size: 80px;
        }
        & h2{
            font-size: 30px;
        }
    }
    .tartas{
        padding: 1rem;
        width: calc(100% - 2rem);
        margin-bottom: 0rem;
    }
    .instalaciones, .desayunos-meriendas{
        & h2{
            font-size: 40px;
            margin: 0px 1rem;
            text-align: center;
        }
    }
    .ubi-reseñas{
        & > div{
            & > div{
                width: 100%;
                & .resena{
                    grid-column: 1/-1!important;
                    height: fit-content;
                    padding: 1rem;
                    & h4{
                        margin-top: 0px;
                    }
                    & p{
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}

@media (width < 550px){
    .imagen-inicio{
        & h1{
            font-size: 60px;
        }
        & h2{
            font-size: 20px;
        }
    }
    .tartas{
        & > div{
            &:first-child{
                & h1{
                    font-size: 50px;
                }
            }
        }
    }
    
}