body{
    width: 100%;
    margin: 0px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    & > div{
        width: 80%;
        & > h2{
            font-size: 100px;
            margin: 0px;
            color: var(--color-clinica);
        }
        & > p{
            font-size: 30px;
        }
    }
}