@font-face{
    font-family: 'amazon ember';
    src: url(fonts/Amazon_Typefaces_Complete_Font_Set_Mar2020/amazon_typography_all_5e593ec/all/AmazonEmberDisplay_Rg.ttf);
    font-weight: 500;
}
body{
    width: 100%;
    margin: 0px;
    font-family: amazon ember;
    height: 100vh;
    display: grid;
    grid-template-rows: calc(50px + 2rem) 1fr minmax(50px, 100%);
    gap: 1rem;
}
label{
    font-weight: 600;
}
img{
    height: 50px;
}
header{
    height: 50px;
    padding: 1rem;
    width: calc(100% - 2rem);
    display: flex;
    justify-content: center;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
}
.inicioSesion{
    width: 400px;
    border: 1px solid rgb(206, 206, 206);
    padding: 1.5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
form div{
    display: flex;
    flex-direction: column;
    gap: .43rem;
}
input{
    padding: .5rem;
    border-radius: 4px;
    border: 1px solid rgb(180, 180, 180);
}
.inicioSesion > form:nth-child(2) > input:last-child{
    background: linear-gradient(#ffe69a, #f1cb5c);
}
label{
    display: flex;
    justify-content: space-between;
    max-height: 20px;
}
h2{
    margin: 0px;
}
.contraseñaConteiner > label{
    width: 25px;
    overflow: visible;
}

/*svg{
    height: 25px;
    position: relative;
    top: 31.5px;
    left: 232px;
    transition: 0.3s;
    display: none;
}*/
.inputContraseña{
    flex-direction: row;
    gap: 0px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    align-items: center;
    float: inline-end;
}
.inputContraseña > input{
    width: 100%;
    border: 0px;
}
.inputContraseña > label{
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    position: absolute;
    left: calc(50% + 200px);
}
svg{
    height: 25px;
    transition: 0.3s;
    display: none;
    position: relative;
    left: calc(-25px - 0.5rem);
}

svg:hover{
    scale: 1.2;
    cursor: pointer;
}
#svg1{
    display: none;
}
#svg1 ~ #Layer_2_2{
    display: block;
}
#svg1 ~ #Layer_2_1{
    display: none;
}
#svg1:checked ~ #Layer_2_1{
    display: block;
}
#svg1:checked ~ #Layer_2_2{
    display: none;
}
#svg1:checked ~ #contraseña{
    color: black;
}
footer{
    padding: 1rem;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    border-top: 3px solid rgb(223, 223, 223);
}

footer  > p{
    margin: 0px;
}
.registrarse{
    gap: .5rem;
}
.registrarse legend{
    justify-self: center;
}
.registrarse div{
    display: flex;
    flex-direction: row;
}
.registrarse div hr{
    width: 25%;
    align-self: center;
    height: 0px;
}
.registrarse div p{
    margin: 0px;
}
