<!--
<form>
  <h1>{{titulo}}</h1>
  <div>
    <label for="Nombre">Nombre: </label>
   <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre">
  </div>
  <div>
    <label for="apellido">Apellidos: </label>
    <input type="text" id="apellido" name="apellidos" [(ngModel)]="apellidos">
  </div>
  <button (click)="pulsar()">Añadir</button>
  <p *ngIf="pulsado; else otraCosa">{{ mensaje }}</p>
  <ng-template #otraCosa>
    <p>Ninguna alta</p>
  </ng-template>

  <ol *ngFor="let persona of personas">
    <li *ngIf="persona.edad >= 30">Nombre: {{persona.nombre}}</li>
    <li *ngIf="persona.edad >= 30">Apellidos: {{persona.apellidos}}</li>
    <li *ngIf="persona.edad >= 30">Edad: {{persona.edad}}</li>
  </ol>
</form>

<div>
  <div>
    <button (click)="botonPulsado('A')">A</button>
    <button (click)="botonPulsado('B')">B</button>
    <button (click)="botonPulsado('C')">C</button>
  </div>
  <p>{{ mensajeBoton }}</p>
</div>-->

<app-articulo>

</app-articulo>