body{ 
    /*Formateo de la página*/
    width: 100%; 
    margin: 0px; 
    /*color de fondo*/
    background-color: #61b9ad;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    /*Estilos compartidos por el header y el nav*/
    & nav, & header{
        z-index: 10;
        & button{
            min-width: 80px;
            height: 80px;
            border-radius: 15px;
            border: 0px;
        }
        & div, &{
            padding: .5rem;
            background-color: #5d302d;
            border-radius: calc(15px + .5rem);
        }
    }
    /*Estilos del header*/
    & header{
        width: calc(100% - 2rem);
        padding: 1rem;
        display: flex;
        background-color: #5d302d00; /*Color transparente de fondo*/
        justify-content: space-between;
        position: fixed;
        top: 0px;
        & div{
            gap: .5rem;
            display: flex;
            & button{
                padding: 0px;
                & img{
                    width: 80px;
                }
            }
        }
    }
    & nav{
        display: flex;
        flex-direction: column;
        width: 80px;
        position: fixed;
        left: 1rem;
        gap: .5rem;
        top: calc(3rem + 80px);
        & a {
            text-decoration: none;
            color: black;
        }
    }
    & main{
        & > div{
            display: flex;
            flex-direction: column;
            gap: 6rem;
            margin-top: 1rem;
        }
    }
    & footer{
        width: calc(100% - 2rem);
        height: 15vh;
        padding: 1rem;
        background-color: #5d302d;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "contacto redes-sociales subir";
        color: white;
        & .contacto{
            grid-area: contacto;
        }
        & .redes-sociales{
            grid-area: redes-sociales;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            & div{
                display: flex;
                gap: 1rem;
                width: 100%;
            }
            & p{
                height: fit-content;
            }
        }
        & .subir { 
            display: flex;
            justify-content: end;
            padding: 1rem;
            & button{
                border: 0px;
                grid-area: subir;
                background-color: white;
                width: 50px;
                height: 50px;
                clip-path: polygon(50% 0%, 50% 0%, 100% 100%, 0 100%);
                transition: .3s;
                &:hover{
                    scale: 1.3;
                    cursor: pointer;
                }
            }
        }
    }
}
.imagen-inicio{
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(0% 0, 100% 0%, 100% 85%, 0 100%);
    justify-content: center;
    background: url(Imagenes/imagen-fachada-bariloche.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    color: white;
    & h1{
        font-size: 120px;
        margin: 0px;
    }
    & h2, & h1{
        text-shadow: 1px 1px 3px black;
        border-bottom: .5rem solid #61b9ad;
    }
}
.carrusel{
    border-top: 1rem solid #5d302d;
    border-bottom: 1rem solid #5d302d;
    min-width: 110vw;
    height: 150px;
    display: flex;
    gap: 1rem;
    background-color: #e9aec4;
    padding: 1rem;
    rotate: 4.64deg;
    box-shadow: inset 0px 0px 15px -5px;
    & img {
        border-radius: 15px;
    }
}
.instalaciones, .desayunos-meriendas{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    & h2{
        color: white;
        margin: 0px 6rem;
    }
    & > div{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
.instalaciones{
    align-items: end;
}
.desayunos-meriendas{
    & .carrusel{
        rotate:-4.64deg;
    }
}

.ubi-reseñas{
    padding: 2rem;
    width: calc(100% - 4rem);
    background-color: #e9aec4;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    & iframe{
        width: 100%;
        border-radius: 15px;
    }
    & div{
        width: 100%;
        height: 100%;
    }
}