body{ 
    /*Formateo de la página*/
    width: 100%; 
    margin: 0px;
    /*color de fondo*/
    background-color: #61b9ad;
    & nav, & header{
        & button{
            min-width: 80px;
            height: 80px;
            border-radius: 15px;
            border: 0px;
        }
        & div, &{
            padding: .5rem;
            background-color: #5d302d;
            border-radius: calc(15px + .5rem);
        }
    }
    & header{
        width: calc(100% - 2rem);
        padding: 1rem;
        display: flex;
        background-color: #5d302d00;
        justify-content: space-between;
        position: fixed;
        top: 0px;
        & div{
            gap: .5rem;
            display: flex;
        }
    }
    & nav{
        display: flex;
        flex-direction: column;
        width: 80px;
        position: fixed;
        left: 1rem;
        gap: .5rem;
        top: calc(3rem + 80px);
        & a {
            text-decoration: none;
            color: black;
        }
    }
}

.imagen-inicio{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
    
}