@font-face {
    font-family: fuente-elena;
    src: url(Fonts/Bodoni_Moda/static/BodoniModa_18pt-Bold.ttf);
}
@font-face {
    font-family: fuente-elena-2;
    src: url(Fonts/Yellowtail/Yellowtail-Regular.ttf);
}
body{
    width: 100%;
    margin: 0px;
    overflow-x: hidden;
    & header{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & img{
            width: 100px;
            border-radius: 100px;
        }
        & nav{
            display: flex;
            gap: 2rem;
            & button{
                font-family: Arial, Helvetica, sans-serif;
                background-color: transparent;
                transition: .3s;
                border: 0px; 
                &:hover{
                    padding-bottom: .5rem;
                    cursor: pointer;
                    border-bottom: 1px solid black;
                }
            }
        }
        &::after{
            content: '';
            width: 100px;
        }
    }
    & main{
        & .Inicio{
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url(Imagenes/fotoInicio.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            & h1{
                font-size: 200px;
                font-family: fuente-elena;
                margin: 0px;
                line-height:100%;
                font-weight: 900;
            }
            & h3{
                font-family: fuente-elena-2;
                margin: 0px;
                color: rgba(0, 0, 0, 0.7);
                font-size: 30px;
                letter-spacing: 5px;
                position: absolute;
                bottom: 3rem;
                right: 3rem;
            }
        }
        & .masPopulares{
            mini-height: calc(100vh - 10rem);
            padding: 5rem;
            width: calc(100% - 10rem);
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 4rem;
            & h2{
                font-family: fuente-elena;
                font-size: 80px;
                margin: 0px;
                border-bottom: 2px solid #2e6647;
                border-top: 2px solid #2e6647;
            }
            & > div{
                display: grid;
                grid-template-columns: repeat(4, 300px);
                grid-template-rows: repeat(2, 400px);
                gap: 1px;
                & .productoTop{
                    width: 100%;
                    height: 400px;
                    background-color: white;
                    border: 1px solid #2e6647;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 300px 1fr;
                    & img{
                        width: 100%;
                    }
                    & div{
                        padding: 1rem;
                        width: calc(100% - 2rem);
                        height: calc(100%  - 2rem);
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        & h3,& p{
                            margin: 0px;
                        }
                        & h3{
                            font-family: fuente-elena;
                            font-weight: bold;

                        }
                        & p{
                            font-family: fuente-elena-2;
                            color: rgba(0, 0, 0, 0.761);
                            padding-top: .5rem;
                            border-top: 1px solid #2e6647;
                        }
                    }
                }
                & .imagenProductoTop{
                    width: 301px;
                    height: 401px;
                    background-image: url(Imagenes/fotoPlanta1.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    &:nth-child(4){
                        background-image: none;
                    }
                    &:nth-child(8){
                        background-image: url(Imagenes/foitoPlanta2.jpg);
                    }
                }
            }
        }
        & .catalogo{
            background-color: #2e6647;
            padding: 2rem;
            width: calc(100% - 4rem);
            min-height: 50vh;
            & h2{
                font-family: fuente-elena-1;
                margin: 0px;
                color: white;
                font-size: 80px;
                border-top: 3px solid white;
                border-bottom: 3px solid white;
                width: fit-content;
            }
        }
        & .sobreNosotros{
            width: 100%;
            height: 50vh;
        }
    }
    & footer{
        
        min-height: 40vh;
        background-color: #2e6647;
        & .footer{
            padding: 2rem;
            width: calc(100% - 4rem);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            & > a{
                width: 80px;
                height: 80px;
                background-color: white;
                justify-self: end;
                transition: .3s;
                &:hover{
                    scale: 1.2;
                    cursor: pointer;
                    box-shadow: 0px 0px 10px 0px white;
                }
            }
            & > p{
                grid-column: 2/3;
                grid-row: 2/-1;
                justify-self: center;
                align-self: end;
                font-size: 20px;
                color: white;
                padding: .5rem 0rem;
                margin: 0px;
                border-top: 1px solid white;
                border-bottom: 1px solid white;
            }
            & nav{
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                width: 100%;
                height: 80px;
                display: flex;
                justify-content: center;
                gap: 1rem;
                & button{
                    width: 80px;
                    border-radius: 100px;
                    border: 0px;
                    transition: .3s;
                    &:hover{
                        box-shadow: 0px 0px 15px -5px white;
                        scale: 1.2;
                        cursor: pointer;
                    }
                }
            }
            & .iframe{
                grid-row: 1 / -1;
                display: flex;
                flex-direction: column;
                align-items: center;
                & iframe{
                    width: 100%;
                }
                & h3{
                    margin: 1rem;
                    font-size: 35px;
                    border-top: 2px solid #2e6647;
                    border-bottom: 2px solid #2e6647;
                    background-color: rgba(255, 255, 255, 0.291);
                    font-family: fuente-elena;
                    font-weight: bold;
                    position: absolute;
                }
            }
        }
    }
}
