@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
body{
    margin: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Nunito Sans;
}
input{
    display: none;
}
label{
    scale: 7;
    display: flex;
    margin: 1rem;
    width: 25px;
    height: 25px;
    padding: .25rem;
    border: .25rem solid black;
    outline: .25rem solid white;
    box-shadow: 0px 0px 10px 0rem ;
    &::before{
        content: "";
        width: 100%;
        height: 100%;
    }
    &:hover::before{
        background-color: green;
        opacity: .3;
    }
}
input:checked ~ label::before{
    background-color: green;
}
footer{
    --color:black;
    position: fixed;
    bottom: 0px;
    left: 0px;
    color: white;
    filter: drop-shadow(0px 0px 10px black);
    & div{
        &:first-child{
            width: fit-content;
            display: flex;
            & h1{
                padding: 1rem;
                text-shadow: 0px 0px 15px white;
                background-color: var(--color);
            }
            &::after{
                content: "";
                display: flex;
                height: auto;
                width: 10rem;
                border-left: 1px solid var(--color);
                clip-path: polygon(0% 0, 100% 100%, 100% 100%, 0 100%);
                background-color: var(--color);
            }
        }
    }   
}
header{
    position: fixed;
    justify-self: center;
    display: flex;
    top: 0px;
    color: white;
    filter: drop-shadow(0px 0px 10px black);
    & h1{
        padding: 1rem 10rem;
        text-shadow: 0px 0px 15px white;
        background-color: black;
    }
    &::before, &::after{
        content: "";
        display: flex;
        width: 10rem;
        height: auto;
        background-color: black;
        box-shadow: 0px 0px 10px 0px black;
    }
    &::before{
        clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 0%);
        border-right: 1px solid black;
    }
    &::after{
        clip-path: polygon(100% 0, 100% 0%, 0% 0%, 0% 100%);
        border-left: 1px solid black;
    }
}
h1{
    margin: 0px;
}