body {
  padding: 0px;
  margin: 0px;
}

header {
  width: 97.5%;
  height: fit-content;
  background-color: rgb(176, 112, 235);
  margin-left: 1%;
  margin-top: 1%;
  border-radius: 5px;
  padding: 0.5% 0.5% 0.5% 0%;
  align-items: center;
  display: flex;
}
button{
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 0.5%;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(157, 81, 228);
    cursor: pointer;
    
}

.foto-datos-personales{
  border-radius: 5px;
  margin: 1%;
  margin-right: 0.5%;
  width: 18%;
  height: 68vh;
  background-color: rgb(176, 112, 235);
  padding: 3%;
}

.main{
  padding: 3;
  width: 50%;
  height: 68vh;
  background-color: rgb(176, 112, 235);
  margin: 1%;
  margin-left: 0.5%;
  border-radius: 5px;
  overflow: auto;
}
main{
  display: flex;
}
h1{
  text-overflow: initial;
  white-space: hidden;
}