

body {
  padding: 0px;
  margin: 0px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(78, 78, 78);
  display: grid;
  column-gap: 1vw;
  row-gap: 1vh;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 7vh 52.5vh 27.5vh 7vh;
  height: 100%;
  width: 98%;
  padding: 1.7vh 1vw 1.3vh 1vw;
  grid-template-areas: 
  "header header container3"
  "main main nav"
  "container2 container nav"
  "container2 footer footer"
  ;
}
@media only screen and (width: 1290px){
  .foto-datos-personales{
  
    background-color: white;
  }

  header{
    background-color: red;
  }
}
section{
  box-shadow: 0px 0px 10px -5px black;
}
header {
  background-color: rgb(51, 51, 51);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 7vh;
  grid-area: header;
  box-shadow: 0px 0px 10px -5px black;
}
footer{
  background-color: rgb(51, 51, 51);
  display: flex;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: fit-content;
  max-height: 7vh;
  grid-area: footer;
  box-shadow: 0px 0px 10px -5px black;
}
nav{
  align-self: self-end;
  background-color: rgb(51, 51, 51);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  grid-area: nav;
  box-shadow: 0px 0px 10px -5px black;
}
.container{
  background: url(https://images.unsplash.com/photo-1475070929565-c985b496cb9f?ixlib=rb-4.0.3);
  background-size: 100vw;
  background-position-y: 50%;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  grid-area: container;
}
.container2{
  grid-area:container2;
  background-color: rgb(48, 64, 41);
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.container3{
  grid-area:container3;
  background-color: rgb(48, 64, 41);
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
button{
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid rgb(105, 140, 90);
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover{
    background-color: rgb(105, 140, 90);
    cursor: pointer;
    
}
button:hover p{
  color: white;
}

.foto-datos-personales{
  
  width: 98%;
  min-width: 25%;
  height: fit-content;
  background-color: rgb(51, 51, 51);
  padding: 2.75vh 1% 2.75vh 1%;
  display: grid;
  grid-template-columns: minmax(420px,40%) 60%;
  grid-template-rows: 1fr 1fr;
  border-radius: 5px;
  font-size: 50px;
  height: 47vh;
  grid-template-areas: 
  "imagen contenido"
  "imagen contenido"
  ;
}
main{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1%;
  grid-area: main;
}

p{
  overflow: hidden;
  text-overflow: initial;
}
h1{
  overflow: hidden;
  text-overflow: initial;
}

.avatar{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

span{
  color: rgb(105, 140, 90);
  text-shadow: 0px 0px 3px ;
}
p{
  color: rgb(151, 151, 151);
  font-size: 30px;
}

.imagen{
  width: 100%;
  grid-area: imagen;
}
h3{
  color: rgb(105, 140, 90);
}
.redes-sociales{
  display: flex;
  align-items: end;
  width: 100%;
  height: fit-content;
  gap: 3%;
  grid-area: bot;
}
.contenido{
  height: 100%;
  width: fit-content;
  display: grid;
  grid-template-rows: 1fr 50px;
  grid-template-areas: 
  "parr"
  "bot";
  grid-area: contenido;
}
.contenido p{
  grid-area: parr;
  text-overflow: initial;
  width: 100%;
  height: max-content;
}

