<h1>{{titulo}}</h1>

<p>Titulo: {{ libro1.titulo }}</p>
<p>Autor: {{ libro1.autor }}</p>
<p>Precio: {{ libro1.precio }}</p>
<p [class.aviso]="libro1.stock == 0">Stock: {{ libro1.stock}}</p>
<p>Cantidad: {{ libro1.cantidad }}</p>
<img src="{{libro1.imagen}}" (mouseenter)="libro1.imprimirPosicion($event)">
<button (click)="libro1.aumentaDisminuye('+')">aumenta</button>
<button (click)="libro1.aumentaDisminuye('-')" [disabled]="libro1.cantidad == 0">disminuye</button>
<button (click)="mostrarTitulo()">Pasar titulo libro seleccionado previamente</button>
<p>{{queLibro}}</p>
