body{
    margin: 0px;
    width: 100%;
}
/*
* HEADER STYLES
*/
header{
    width: 100%;
}
header > section{
    padding: .5rem;
    width: calc(100% - 1rem);
    display: flex;
    justify-content: space-between;
}
header a{
    text-decoration: none;
}
header p{
    color: white;
    height: fit-content;
    margin: 0px;
    font-size: smaller;
}
header > section:first-child{
    background-color: black;
}
header > section:nth-child(2){
    box-shadow: 0px 0px 10px -4px rgb(184, 184, 184);
    color: black;
}
header > section:nth-child(2)  a{
    color: black;
}
header ul{
    display: flex;
    margin: 0px;
    list-style: none;
    padding: 0px;
}
header section:nth-child(2)  ul > li{
    padding: 0rem 1rem 0rem 1rem ;
}
header section:nth-child(2) ul > li:first-child{
    padding-left: 2rem;
}
header section:nth-child(2) ul:last-child > li:last-child{
    padding-right: 2rem;
}

/*        
* SLIDER
*/
.slider{
    width: 100%;
    padding: 1rem 0px 1rem 0px;
    display: flex;
}
.botonIzqu, .slider div:last-child {
    width: 0%;
    padding: 1rem;
}
.slider div:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 4rem);
}
.slider div:nth-child(2) div:first-child{
    display: flex;
    padding: 1rem;
    width: calc(40% - 2rem);
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 0px!important;
    max-width: 40%;
}
/* TODO: Esto es el primer span de el div de class: card que 
   TODO: tiene un estilo incompatible con demasiado importancia*/
.slider div:nth-child(2) div:first-child p span:first-child{ 
    font-weight: 600;
    box-shadow: 0px 0px 0px 0px ;
}
.slider img{
    width: 60%;
}
.slider div:nth-child(2) div:last-child{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    background-color: white;
}




.slider div:nth-child(2) div:last-child span{
    width: 7.5%;
    padding: .25rem;
    box-shadow: inset 0px 0px 10px -5px ;
    height: 0px;
    border-radius: 5px ;    
}

.slider div:nth-child(2) div:last-child span::before{
    content: "";
    position: absolute;
    top: 0px;
    background-color: orange;
    padding: 0px 0rem;
    height: .25rem;
    border-radius: 5px;
    left: 0px;
}
.slider div:nth-child(2) div:last-child span:nth-child(2){
    margin-right: calc(7.5% + 1rem);
}
.slider div:nth-child(2) div:last-child span:nth-child(3){
    position: absolute;
    width: calc(7.5% - 1rem);
    left: calc(50% + 1rem);
}
.slider div:nth-child(2) div:last-child span:nth-child(3)::before{
    animation: animacionSpan;
    animation-duration: 6s;
}
@keyframes animacionSpan{
    from{
        padding-right: 0%;
        padding-top: .25rem;
    }
    to{
        padding-right: 100%;
        padding-top: .25rem;
    }
}